{% extends 'base.html.twig' %}
{% block title %}Изменить пост {{ post.title }}{% endblock %}
{% block body %}
<div class="container mt-5">
    <form action="" method="POST">
        {# @csrf #}
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-sm-12 col-12 m-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h4 class="card-title"> Изменить пост {{ post.title }} </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label> Заголовок </label>
                            <input value='{{ post.title }}' type="text" class="form-control" required name="title">
                        </div>
                        <div class="form-group">
                            <label> URI </label>
                            <input value='{{ post.slug }}' type="text" class="form-control" required name="slug">
                        </div>
                        <div class="form-group">
                            <label> Описание </label>
                            <textarea class="form-control" required name="description">{{ post.description }}</textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success"> Обновить </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


